* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark: #181C14;
    --light: #D4F6FF;
    --gray: #ccc;
    --blue: #0096c7;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--light);
}

/* Container for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The visual track of the switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray); /* Default 'off' state color */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

/* The circular handle of the switch */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%; /* Make it circular */
}

/* Style when the toggle switch is 'on' (checkbox is checked) */
input:checked + .slider {
  background-color: var(--dark); 
}

/* Move the handle to the right when 'on' */
input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Page CSS */
.header {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--dark);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: var(--light);
    h1 {
        color: var(--dark);
    }
}

.main-container {
  padding-top: 80px;
  height: 100vh;
  background: var(--light);
}

.list-container {
  position: absolute;
  right: 0;
  background: var(--light);
  width: calc(100% - 250px);
  overflow: auto;
  .list-header {
    color: var(--dark);
    height: 70px;
    width: 100%;
    span {
      text-align: center;
      cursor: pointer;
    }
  }

  .list-body {
    color: var(--dark);
  }
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  border-right: 1px solid var(--dark);
  padding: 10px;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--light);
  overflow-y: auto;
  .lower {
    color: var(--dark) !important;
    button {
      color: var(--dark) !important;
    }
    .dropdown-menu {
      background-color: var(--dark);
      .dropdown-item {
        color: var(--light) !important;
      }
      .dropdown-item:hover {
        background: var(--light);
        color: var(--dark) !important;
      }
    }
  }
}

.song-row-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.song-row {
  display: flex;
  align-items: center;
  height: 70px;
  span {
    text-align: center;
    cursor: pointer;
  }
}

.music-card {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 90px;
  font-family: sans-serif;
  z-index: 2;
  width: calc(100% - 250px);
  background: var(--dark);
  color: var(--light);
  .music-controls i {
    cursor: pointer;
  }
}

/* util styles  */
.hidden {
  display: none !important;
}

.wd-1 {
  min-width: 100px;
}

.wd-2 {
  min-width: 200px;
  width: 100%;
}

.wd-3 {
  min-width: 300px;
  width: 100%;
}

.wd-4 {
  min-width: 400px;
  width: 100%;
}

/* btn styles */
.play-wrapper .play-btn {
  display: none;
}

.song-row:hover .track-number {
  display: none;
}

.song-row:hover .play-btn {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}